
.scroll-container {
    overflow-y: scroll;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-top: 50px;
    padding-bottom: 50px;
    max-height: 18rem;
}
.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
