.float {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
.scroll-container {
    overflow-y: scroll;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 32rem;
}
.grid-item {
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
