@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
mat-card {
    background: #fffb06;
    color: rgba(4, 4, 4, 0.87);
  }
  
mat-content p {
    font-size: 16px;
}

.deck-top-card img {
    height: 16rem;
    width: 10rem;
}

.throwing-pile img {
    height: 8rem;
    width: 5rem;
}

.grabbing-cards img {
    height: 4rem;
    width: 2.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}
.grid-item {
    background-color: white;
    font-size: 30px;
    text-align: center;
}

p {
    font-family: 'Russo One', sans-serif;
}