<div class="grid-container">
    <div class="grid-item">
        <app-dice></app-dice>
    </div>
    <div class="grid-item">
        <mat-card class="deck-top-card">
            <img mat-card-image [src]="lastPlayed.image" alt="discard pile">
            <mat-card-content>
                <button mat-mini-fab aria-label="Look cards" (click)="openBottomSheet()">
                    <mat-icon>view_module</mat-icon>
                </button>Cards played: {{ cards.length }}
            </mat-card-content>
        </mat-card>
    </div>
</div>