.player-row button, .player-row mat-spinner,
.player-row  {
  margin-right: 8px;
}
.scroll-container {
    overflow-x: auto;
    max-width: 300px;
} 


mat-list-item {
  min-height: 50px;
  margin-top: 10px;
}

button {
  margin-top: 11px;
}

button.quit {
  margin: 10%;
}

button.restart {
  border: 1px solid;
}