@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.player-row button, .player-row mat-spinner,
.player-row  {
  margin-right: 8px;
}
.scroll-container {
    overflow-x: auto;
    max-width: 300px;
} 

mat-list-item {
  min-height: 50px;
  margin-top: 10px;
}

button {
  margin-top: 11px;
  font-family: 'Russo One', sans-serif;
}

button.quit {
  margin: 10%;
}


