
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
.dice-result {
    font-family: 'Russo One', sans-serif;
    padding-left: 1em;
    width: 3em;
}

p {
    font-size: 0.5em;
}
