<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">


    <mat-form-field class="example-full-width">
      <mat-label>Game id: </mat-label>
        <input #gameid matInput placeholder="game code from admin" [(ngModel)]="inputGameId">
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width">
      <mat-label>User id: </mat-label>
        <input #userid matInput placeholder="username" [(ngModel)]="inputUserId">
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width">
      <mat-label>Server: </mat-label>
        <input #server matInput placeholder="server" [(ngModel)]="inputServer">
    </mat-form-field>
    <br>

    <mat-card-actions>
      <button mat-stroked-button color="accent" class="btn-block" (click)="joinGame()">Join</button>
  </mat-card-actions>
  </mat-card>
</div>
