
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.login-wrapper {
    background-image: url("/assets/img/join/background.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Russo One', sans-serif;
}

mat-label {
    font-family: 'Russo One', sans-serif;
}
input {
    font-family: 'Russo One', sans-serif;
    font-size: medium;
}

.login-wrapper {
    height: 100%;
}

mat-label {
    font-family: 'Russo One', sans-serif;
}
input {
    font-family: 'Russo One', sans-serif;
    font-size: medium;
}
  
.positronx {
  text-decoration: none;
  color: #646460;
}

.box {
  font-size: 1.5em;
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60em 50em 40em 50em;
  width: 100%;
  background: #fff;
  border-radius: 0.5em;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
}

.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: 1;
}

.box:before {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: -15px;
  background: rgba(214, 211, 36, 0.6);
  left: 0;
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  z-index: -5;
}

.login-wrapper .example-form {
  min-width: 100%;
  max-width: 200px;
  width: 100%;
}

.login-wrapper .example-full-width,
.login-wrapper .btn-block {
  width: 100%;
}

.login-wrapper mat-card-header {
  font-family: 'Russo One', sans-serif;
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}

.login-wrapper mat-card-header mat-card-title {
  font-size: 50em;
  margin: 0;
}

.login-wrapper .mat-card {
  padding: 40px 70px 50px;
}

.login-wrapper .mat-stroked-button {
  color:#FF3855;
  font-family: 'Russo One', sans-serif;
  font-size: 1.5em;
  border: 5px solid black;
  line-height: 54px;
  background: #ccd1d1;
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  font-family: 'Russo One', sans-serif;
  padding: 0.4em 0;
}

@media (min-width: 576em) {
  :root {
    --size-divisor: 2;
  }
}
@media (min-width: 768em) {
  :root {
    --size-divisor: 1.5;
  }
}
@media (min-width: 992em) { 
  :root {
    --size-divisor: 1;
  }
}
@media (min-width: 1200em) { 
  :root {
    --size-divisor: .67;
  }
}

