<div class="join-form">
  <mat-form-field>
    <mat-label>Game id: </mat-label>
      <input #gameid matInput placeholder="game code from admin" [(ngModel)]="inputGameId">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>User id: </mat-label>
      <input #userid matInput placeholder="username" [(ngModel)]="inputUserId">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Server: </mat-label>
      <input #server matInput placeholder="server" [(ngModel)]="inputServer">
  </mat-form-field>
  <br>
  <button mat-flat-button color="primary" (click)="joinGame()">Join</button>
</div>
