<mat-grid-list cols="6" rowHeight="30px">
  <mat-grid-tile
      [colspan]="2"
      [rowspan]="2"
  >
  <button mat-button (click)="createGame()">Create game</button>

  </mat-grid-tile>
  
  <mat-grid-tile
    [colspan]="2"
    [rowspan]="2"
  >
  <mat-label>Auth token: </mat-label>
  <input #box matInput [type]="'password'" placeholder="Auth token" (keyup.enter)="update(box.value)" (blur)="update(box.value)">

  </mat-grid-tile>


  <mat-grid-tile [colspan]="2" [rowspan]="2">
    Game id: {{ createdGame }}

  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan] = "8">
    <app-game-events></app-game-events>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    Link: <span><a [href]="'/setup?game-id=' + createdGame + '&server='"></a></span>
  </mat-grid-tile>
</mat-grid-list>



