<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        [colspan]="4"
        [rowspan]="1"
        [style.background]="'lightblue'">
        <app-join (messageEvent)="receiveMessage($event)" style="min-width: 100%; min-height: 100%"></app-join>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="10"
        [style.background]="'lightblue'">
      players
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="2"
        [rowspan]="6"
        [style.background]="'lightgreen'">
     <app-discard-pile></app-discard-pile>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="6">
        <app-deck></app-deck>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="3"
    [rowspan]="4"
    [style.background]="'lightpink'">
    <app-hand style="min-width: 100%; min-height: 100%"></app-hand>
    </mat-grid-tile>
  </mat-grid-list>
