<mat-card class="deck-top-card">
    <img mat-card-image height="500rem" src="assets/img/hidden_card.jpg" alt="game deck">
    <mat-card-content>
      <p>
        Cards left: {{ deck.cards.length }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-row">
        <button mat-button (click)="drawCard()" color="primary">Draw</button>
        <button mat-button (click)="drawFromTheBottom()" color="warn">Draw from bottom</button>
        <button mat-button (click)="shuffle()" color="warn">Shuffle</button>
      </div>
    </mat-card-actions>
</mat-card>